body{
  margin: 0;
}
.nav-list{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  background-color: fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}
.nav-item{
  list-style: none;
  margin-right: 8rem;
  display: flex;
  align-items: center;
}
.nav-item a{
  text-decoration: none;
  color: #092c64;
  font-size: medium;
  margin-right: 2rem;
}
.login{
  padding: 10px 30px;
  border-radius: 8px;
  border: solid 2px #4f5155;
  color:#4f5155;
  background-color: #fcffff;
  font-size: medium;
  
}
.started{
    padding: 10px 30px;
  border-radius: 8px;
  border: solid 2px;
  color:#fff;
  background-color: #092c64;
  font-size: medium;
}
.background{
  background-image: url("background.svg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 1000px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; 
  background-size: cover; 
  margin: 0;
}
.question {
  width: 270px;
  height: 60px;
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #092c64;
  margin: 40%;  
  
}
span {
  width: 83.1px;
  height: 125.4px;
  flex-grow: 0;
  transform: rotate(-344.85deg);
  font-family: Montserrat;
  font-size: 92px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
   color: #092c64;
  opacity: 0.9px;
  padding-right: 0;
}

